
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  display: none;

  &_active{
    display: flex;
  }

  &__body {
    background: linear-gradient(185.1deg, #171717 -4.29%, #0D0D0D 95.9%);
    position: relative;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 33px;
    width: 22px;
    height: 22px;

    &::before,
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: rotate(0) translateY(-50%);
      width: 100%;
      height: 1px;
      background-color: #606060;
      transition: .3s;
    }

    &::before{
      transform: rotate(45deg);
    }

    &::after{
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after{
      background-color: #fff;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 17px;
  }
}

@media (max-width: 992.98px){}

@media (max-width: 768.98px){}

@media (max-width: 576.98px){}

.popup__connect {

  &__body {
    flex: 0 1 850px;
    padding: 100px 0px;
  }

  &__close {
  }

  &__title {
    margin-bottom: 11px;
  }

  &__text {
    margin-bottom: 27px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #505050;

  }

  &__wallet {
  }
}
.wallet__popup__connect {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__row {
    display: flex;
    align-items: stretch;
    column-gap: 10px;
  }

  &__item {
    cursor: pointer;
    flex: 1 1 50%;
    border: 1px solid #262626;
    background: linear-gradient(180deg, #262626 0%, #242424 0.01%, #1B1A1A 116.07%);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0px;
    color: inherit;
    transition: .3s;

    &__ether {
      cursor: pointer;
      flex: 1 1 50%;
      border: 1px solid #262626;
      background: linear-gradient(180deg, #262626 0%, #242424 0.01%, #1B1A1A 116.07%);
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 0px;
      color: inherit;
      transition: .3s;
      margin-bottom: 20px;
      padding: 10px;

      &:hover{
        background: transparent;
        border: 1px solid #262626;
      }
    }

    &:hover{
      background: transparent;
      border: 1px solid #262626;
    }
  }

  &__icon {
    filter: brightness(0) invert(1);
    margin-right: 11px;
  }

  &__title {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
  }
}

@media (max-width: 992.98px){
  .popup__connect{
    &__body{
      margin: 0px 20px;
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

@media (max-width: 576.98px){
  .popup__connect {
    &__title{
      font-size: 24px;
    }
  }
  .wallet__popup__connect{
    row-gap: 8px;
    &__row{
      column-gap: 8px;
    }
    &__icon{
      margin-right: 2px;
    }
    &__title{
      font-size: 13px;
    }
    &__icon{
      width: 16px;
      height: 16px;

      img{
        max-width: 100%;
      }
    }
  }
}

.error {
  color: red;
}

.ether_image {
  margin-left: 10px;
  width: 25px;
}

.ether_button {
  margin-bottom: 20px;
}
