.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  display: none;

  &_active{
    display: flex;
  }

  &__body {
    background: linear-gradient(185.1deg, #171717 -4.29%, #0D0D0D 95.9%);
    position: relative;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 33px;
    width: 22px;
    height: 22px;

    &::before,
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: rotate(0) translateY(-50%);
      width: 100%;
      height: 1px;
      background-color: #606060;
      transition: .3s;
    }

    &::before{
      transform: rotate(45deg);
    }

    &::after{
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after{
      background-color: #fff;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 17px;
    &__error {
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      margin-bottom: 17px;
      color: red;
    }
  }
}

@media (max-width: 992.98px){}

@media (max-width: 768.98px){}

@media (max-width: 576.98px){}


.popup__stake {

  &__body {
    padding: 80px 0px;
    flex: 0 1 700px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    width: 100%;
    max-width: 300px;
    margin-bottom: 39px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    &__error {
      color: red;
    }
  }

  &__text_success{
    width: 100%;
    max-width: 300px;
    margin-bottom: 39px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    display: none;
  }

  &__load {
    width: 100%;
    max-width: 400px;
    }
}
.load {

  &__title {
    text-align: left;
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #3E3E3E;
  }

  &__track {
    width: 100%;
    height: 13px;
    background: #222222;
    border-radius: 43px;
    position: relative;

  }

  &__progress{
    position: absolute;
    background: #FFAB09;
    border-radius: 43px;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    animation: load 300s;
  }
}

@media (max-width: 768.98px){
  .popup-stake{
    &__body{
      margin: 0px 20px;
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

@media (max-width: 576.98px){
  .popup-stake{
    &__body{

    }
  }
}

@keyframes load {
  0% {
    width: 0;
  }

  25% {
    width: 25%;
  }

  50% {
    width: 50%;
  }

  75% {
    width: 75%;
  }

  100% {
    width: 100%;
  }

}

